<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head',{title:'Home - VRS'}); %>
</head>

<body>
    <div class="se-pre-con"></div>
    <div class="wrapper">
    
        <!-- Sidebar -->
        <%- include('../partials/sidebar'); %>
        <!--// Sidebar -->

        
        <div id="content">
            <!-- top-bar -->
            <%- include('../partials/header'); %>
            <!--// top-bar-->

            <!-- Page Content -->
                
            <!--// Page Content -->

            <!-- Footer | Copyright -->
            <%- include('../partials/footer'); %>
            <!--// Footer | Copyright -->
        </div>
    </div>

    <!-- Required common Js -->
    <%- include('../partials/commonjs'); %>    
    <!--// Required common Js -->
</body>
</html>
