<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head',{title:'User Management - VRS'}); %>
</head>

<body>
    <div class="se-pre-con"></div>
    <div class="wrapper">
    
        <!-- Sidebar -->
        <%- include('../partials/sidebar'); %>
        <!--// Sidebar -->

        
        <div id="content">
            <!-- top-bar -->
            <%- include('../partials/header'); %>
            <!--// top-bar-->

            <!-- Page Content -->
                <!-- main-heading -->
            <h1 class="main-title-w3layouts mb-2 text-center">Mangae users</h1>
            <!--// main-heading -->

            <!-- Tables content -->
            <section class="tables-section">
                <!-- Admin table  -->
                <div class="outer-w3-agile mt-3">
                    <h4 class="tittle-w3-agileits mb-4">Admins</h4>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Username</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                                <th scope="col">Status</th>
                                <th scope="col">Update Status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% userObjs.forEach(function(userObj){ %>
                                <% if (userObj.role != 'applicant') { %>

                                <tr>
                                    <td scope="row">1</td>
                                    <td><%= userObj.username %></td>
                                    <td><%= userObj.email %></td>
                                    <td><%= userObj.role === 'super_admin' ? 'super admin' : 'admin' %></td>
                                    <td><%= userObj.is_active ? 'Active' : 'Pending' %></td>
                                    
                                    <% if(userObj.is_active){ %>
                                        <td>
                                            <button type="button" class="btn btn-warning btn-sm">Deactivate</button>
                                        </td>
                                      <% } else{ %>
                                        <td>
                                            <button type="button" class="btn btn-success btn-sm">Approve</button>
                                        </td>
                                     <% } %>

                                    <td>
                                        <button type="button" class="btn btn-danger btn-sm">Delete</button>
                                    </td>
                                </tr>
                                <% } %>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
                <!--// Admin table -->


                <!-- Users table -->
                <div class="outer-w3-agile mt-3">
                    <h4 class="tittle-w3-agileits mb-4">Applicants</h4>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Username</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                                <th scope="col">Status</th>
                                <th scope="col">Update Status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            <% userObjs.forEach(function(userObj){ %>
                                
                                <% if (userObj.role == 'applicant') { %>

                                <tr>
                                    <td scope="row">1</td>
                                    <td><%= userObj.username %></td>
                                    <td><%= userObj.email %></td>
                                    <td><%= userObj.role %></td>
                                    <td><%= userObj.is_active === 'null' ? 'deactive' : 'Active' %></td>
                                    <% if(userObj.is_active){ %>
                                        <td>
                                            <button type="button" class="btn btn-warning btn-sm">Deactivate</button>
                                        </td>
                                      <% } else{ %>
                                        <td>
                                            <button type="button" class="btn btn-success btn-sm">Approve</button>
                                        </td>
                                     <% } %>
                                     <td>
                                        <button type="button" class="btn btn-danger btn-sm">Delete</button>
                                    </td>
                                </tr>
                                <% } %>
                            <% }); %>
                            
                            
                        </tbody>
                    </table>
                </div>
                <!--// Users table -->


            </section>
            <!--// Page Content -->

            <!-- Footer | Copyright -->
            <%- include('../partials/footer'); %>
            <!--// Footer | Copyright -->
        </div>
    </div>

    <!-- Required common Js -->
    <%- include('../partials/commonjs'); %>
    <script>
        var addSerialNumber = function () {
            $('tbody tr').each(function(index) {
            $(this).find('td:nth-child(1)').html(index+1);
            });
        };

addSerialNumber();

    </script>  
    <!--// Required common Js -->
</body>
</html>
